#ordering
{
  float: left;
  width: 383px;
  margin: 20px 0 0 40px;
  #orders
  {
    border-left: none;
    padding-left: 0;
    ul
    {
      float: left;
    }
  }
  #days {
    border-right: none;
    padding-right: 0;
  }
  ul {
    text-align: center;
  }
  .stats
  {
    margin: 0 auto;
    color: #3f3f3f;
    font-size: 24px;
    display: block;
    display: inline-block;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    border-right: 1px solid #cbcbcb;
    padding-right: 26px;
    padding-left: 26px;
    text-align: left;
    span
    {
      color: #868686;
      font-size: 18px;
      margin-top: 5px;
      display: block;
      font-family: $primary_font, $secondary_font, $tertiary_font;
    }
  }
}
