<div class="sidebar">
  <h5>Order Summary</h5>
  <hr>
  <span id="summary_product_quantity">1</span> x  $<span id="summary_product_price"></span>
  <hr>
  <span>Total:  $</span><span id="summary_product_price"></span>
  <br />
  <br />
  <br />
  <br />
  <h5>Order with one of our thrid party providers</h5>
  <p>
  </p>
  <ul>
    <li>
      <a class="gray_button" id="external_amazon_button">
        <span>Order on</span>
        <img alt="amazon_checkout_place_holder" src="/assets/amazon_small_alt.png" />
      </a>
    </li>
    <li>
        <a class="gray_button" id="external_ebay_button">
        <span>Order on</span>
        <img alt="ebay_checkout_place_holder" src="/assets/ebay_small_alt.png" />
      </a>
    </li>
  </ul>
</div>
