$fancy-font: 'Megrim', cursive;
$site-highlight-color: #5bc0de;
$site-highlight-hover-color: #39b3d7;
$site-highlight-hover-border-color: #269abc;

//colors
$price-table-background: #fff;
$price-table-cell-background: #f7f7f7;
$color_pickled_bluewood_15_approx: rgba(39, 65, 90, .15);
$color_azure_radiance_approx: #00a1ff;
$color_pickled_bluewood_90_approx: rgba(39, 65, 90, .9);
$color_cerulean_approx: #0091e5;
$color_pickled_bluewood_50_approx: rgba(39, 65, 90, .5);
$color_atlantis_approx: #8dcf3f;
$color_sushi_approx: #78b336;
