$fancy-font: 'Megrim', cursive;
$site-highlight-color: #5bc0de;
$site-highlight-alt-color: #00a1ff;
$site-highlight-hover-color: #39b3d7;
$site-highlight-hover-border-color: #269abc;
$price-table-background: #fff;
$price-table-cell-background: #f7f7f7;


$feature-table-box-shadow-color: rgba(39, 65, 90, .15);
