.purchase {
  font-size: 20px;
}


.home-page-widgets {
  .purchase {
    margin: 0 auto;
    width: 400px;
    display: block;
    height: 125px;
    font-size: 24px;
    line-height: 125px;
    padding: 0;
  }
}
