@import "variables";

header {
  .purchase {
    background: $site-highlight-color;
    border: none;
    border-radius: 5px;
    color: #fff;

    &:hover {
      background: $site-highlight-hover-color;
      text-decoration: none;
    }

    &:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
  }

  .btn.more-site-btn {
    margin-top: 20px;
  }
}
