<div id="header">
  <div class="wrapper clearfix">
    <h1 id="rc_iceberg_header">New product</h1>
  </div>
</div>
<div class="gray_background">
  <div class="wrapper">
	<%= render 'form' %>
	<%= link_to 'Back', products_path %>
  </div>
</div>