#header
  .wrapper.clearfix
    h1#rc_iceberg_header Product
.gray_background
  .wrapper
    - @product.images.each do |image|
      = image_tag image.source.url(:large_landscape)
    p
      b Name:
      = @product.name
    p
      b Description:
      = @product.description
    p
      b Price:
      = @product.price
    p
      b Stock:
      = @product.stock
    br/
    = link_to 'Edit', edit_product_path(@product)
    |  | 
    = link_to 'Back', products_path