.footer
  .wrapper.clearfix
    ul
      li
        a href="#"  /faq"&gt;Help  FAQs
      li
        a href="#"  Press  Media
      li
        a href="http://blog.rc_iceberg.com/"  Blog
      li
        a href="#"  Privacy Policy
      li
        a href="/account/login"  Login
    p &copy; Remote Controlled Iceberg 2015.
